.numbersPlayed {
  margin-top: 4rem;
}

.checkNumbers {
  text-align: center !important;
  margin: 0 0.2rem;
}

.p-button-rounded.checkNumbers {
  height: 2rem !important;
  width: 2rem;
}

.allResultsChecked {
  background-color: #aaf0d1 !important;
}

.numbersPlayed--title__highlight {
  color: #aaf0d1;
  font-weight: 700;
}

.dialog-delete__content {
  margin-bottom: 1rem;
}
