.numbersPlayed {
  margin-top: 4rem;
}

.actions {
  text-align: center !important;
  margin: 0 0.2rem;
  width: 120px;
}

.p-button-rounded.action-button {
  height: 1.9rem !important;
  width: 1.9rem;
}

.p-button-rounded.actions {
  height: 2rem !important;
  width: 2rem;
}

.allResultsChecked {
  background-color: #aaf0d1 !important;
}

.numbersPlayed--title__highlight {
  color: #aaf0d1;
  font-weight: 700;
}

.dialog-delete__content {
  margin-bottom: 1rem;
}

@media screen and (max-width: 45em) {
  .actions {
    text-align: left !important;
  }

  .p-button-rounded.actions {
    height: 1.7rem !important;
    width: 1.7rem;
  }

  .edit-ticket {
    width: 100% !important;
  }
}
