.highlightWinner,
.highlightMatched,
.highlightNumbersMatched {
  font-weight: 700;
  color: #66bb6a;
}

.bigWinner {
  font-weight: 700;
  color: orangered;
  background-color: black;
}

.highlightNotMatched {
  color: red;
}

.header--title_message,
.header--title_message h3 {
  display: inline-block;
  margin-right: 2rem;
}

.p-inline-message {
  margin-top: 1rem;
}

.checkNumbers {
  text-align: center !important;
}

.p-button-rounded.checkNumbers {
  height: 1.9rem !important;
  width: 1.9rem;
}

/* Added to make responsive */
.datatable-responsive
  .p-datatable-responsive
  .p-datatable-tbody
  > tr
  > td
  .p-column-title {
  display: none;
}

@media screen and (max-width: 45em) {
  .checkNumbers {
    text-align: left !important;
  }

  .p-button-rounded.checkNumbers {
    height: 1.7rem !important;
    width: 1.7rem;
  }

  .view-numbers-played {
    width: 100% !important;
  }
}
